<div class="container-fluid">
    <!-- Back button -->
    <button class="btn btn-secondary mb-3" (click)="goBack()" aria-label="Back">
        &#x2190; <!-- Left arrow symbol -->
    </button>

    <!-- Project Title -->
    <h2 class="text-center mb-4">Project Details</h2>

    <!-- Flex container for project details -->
    <div class="content-flex">
        <div class="content-left">
            <h3 class="project-name">{{ projectsDetails?.title }}</h3>

            <!-- Description Section -->
            <div class="description mb-4">
                <h4>Description:</h4>
                <p>{{ projectsDetails?.description }}</p>
            </div>

            <!-- Add a button to view more details or go to the project link -->
            <a *ngIf="projectsDetails?.link" [href]="projectsDetails.link" target="_blank" class="btn btn-primary">View Project</a>
        </div>
    </div>

    <div *ngIf="!projectsDetails.title">
        <p class="text-center">No project details available.</p>
    </div>
</div>
