<div class="container-fluid">
    <!-- Back button -->
    <button class="btn btn-secondary mb-3" (click)="goBack()" aria-label="Back">
        &#x2190; <!-- Left arrow symbol -->
    </button>

    <!-- Project Title -->
    <h2 class="text-center mb-4">DETAILS</h2>

    <!-- Flex container for content and image -->
    <div class="content-flex">
        <!-- Left Section: Project Details -->
        <div *ngIf="projectsDetails.length > 0; else loading" class="content-left">
            <div class="project-image">
                <img [src]="'http://localhost:3001/' + projectsDetails[0].image" alt="{{ projectsDetails[0].name }}" class="img-fluid">
            </div>
            <div class="project-details">
                <!-- Project Name -->
                <h3 class="project-name">{{ projectsDetails[0].name }}</h3>

                <!-- Tech Stack Section -->
                <div class="tech-stack mb-3">
                    <p><strong>Frontend Tech:</strong> {{ projectsDetails[0].frontend_tech }}</p>
                    <p><strong>Backend Tech:</strong> {{ projectsDetails[0].backend_tech }}</p>
                    <p><strong>Database Tech:</strong> {{ projectsDetails[0].db_tech }}</p>
                </div>

                <!-- Description Section -->
                <div class="description">
                    <h4>Description:</h4>
                    <p *ngFor="let detail of projectsDetails[0].description.split('\n')">
                        {{ detail }}
                    </p>
                </div>

                <!-- Project Status -->
                <!-- <div class="project-status mb-3">
                    <p><strong>Status:</strong> {{ projectsDetails[0].status }}</p>
                </div> -->

                <!-- Project Link -->
                <div class="project-link">
                    <a *ngIf="projectsDetails[0]?.link; else noLink" [href]="projectsDetails[0].link" target="_blank" class="btn btn-primary">View Project</a>
                    <ng-template #noLink>
                        <p>No project link available.</p>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>

    <!-- Loading Template -->
    <ng-template #loading>
        <p class="text-center">Loading project details...</p>
    </ng-template>
</div>
