<nav class="navbar">
    <div class="container-fluid">
      <!-- <button class="btn btn-nav" routerLink="/" type="button">Home</button> -->

      <!-- <button class="btn btn-nav" routerLink="add-details" type="button">Add Student</button> -->
      <button class="btn btn-nav" routerLink="get-details" type="button">Student List</button>
      <button class="btn btn-nav" routerLink="projects" type="button">My Projects</button>

      <button class="btn btn-nav" routerLink="register" type="button">Register</button>
      <button class="btn btn-nav" routerLink="login" type="button">Login</button>

    </div>
  </nav>