<nav class="navbar">
    <div class="container-fluid">
      <!-- <button class="btn btn-nav" routerLink="/" type="button">Home</button> -->

      <button class="btn btn-nav" routerLink="add-details" type="button">Add Student</button>
      <button class="btn btn-nav" routerLink="get-details" type="button">Student List</button>
      <!-- <button class="btn btn-nav" routerLink="details" type="button">Addddd List</button> -->

      <!-- <button class="btn btn-nav" routerLink="../edit-details" type="button">Edit Student</button> -->
    </div>
  </nav>