/* General Styles */
body {
    font-family: 'Libre Franklin', sans-serif;
    background: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    height: auto;
  }
  
  /* Title Styling */
  h1 {
    font-weight: 900;
    color: #ff8d00;
    text-align: center;
    /* margin-bottom: 30px; */
    font-size: 2.5rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    animation: titleAnimation 0.8s ease-in-out;
  }
  
  @keyframes titleAnimation {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
  }
  