<div class="container">
    <div *ngIf="candidate && candidate.data; else loading">
        <div class="card-header">
            <ng-container *ngIf="candidate.data.image_path; else noImage">
                <img [src]="'http://localhost:3001/' + candidate.data.image_path" 
                     alt="Profile Image" />
            </ng-container>
            <ng-template #noImage>
                <p>No image available</p>
            </ng-template>
        </div>
        <div class="card-body">
            <h2>{{ candidate.data.Name }}</h2>
            <p><strong>ID:</strong> {{ candidate.data.id }}</p>
            <p><strong>Email:</strong> {{ candidate.data.Email }}</p>
            <p><strong>Age:</strong> {{ candidate.data.Age }}</p>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" (click)="goBack()">Go Back</button>
            <button class="btn btn-primary" [routerLink]="['/edit-details', candidate.data.id]">Edit</button>
            <button class="btn btn-danger" (click)="deleteduser(candidate.data.id)">Delete</button>
        </div>
    </div>
    <ng-template #loading>
        <p>Loading...</p>
    </ng-template>
</div>
