<div class="container">
    <div *ngIf="candidate; else loading">
        <div class="card-header">
            <!-- Image section with ngIf-else for image availability -->
            <ng-container *ngIf="candidate.data[0].image_path; else noImage">
                <img [src]="'http://localhost:3001/' + candidate.data[0].image_path" 
                     alt="Profile Image" />
            </ng-container>
            <!-- Template for when the image is not available -->
            <ng-template #noImage>
                <p>No image available</p>
            </ng-template>
        </div>
        <div class="card-body">
            <h2>{{ candidate.data[0].Name }}</h2>
            <p><strong>ID:</strong> {{ candidate.data[0].id }}</p>
            <p><strong>Email:</strong> {{ candidate.data[0].Email }}</p>
            <p><strong>Age:</strong> {{ candidate.data[0].Age }}</p>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" (click)="goBack()">Go Back</button>
        </div>
    </div>
    <ng-template #loading>
        <p>Loading...</p>
    </ng-template>
</div>
