<div class="container">
  <h1 class="text-center">Student List</h1>

  <table class="table table-bordered student-table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Age</th>
        <th scope="col">Image</th>
        <th scope="col">Action</th>
      </tr>

      <!-- Search Inputs Row -->
      <tr class="search-row">
        <td><input
          type="text"
          class="form-control search-input"
          placeholder="Search by ID..."
          [(ngModel)]="searchQueryId"
          (input)="onSearch()"
        /></td>
        <td><input
          type="text"
          class="form-control search-input"
          placeholder="Search by Name..."
          [(ngModel)]="searchQueryName"
          (input)="onSearch()"
        /></td>
        <td><input
          type="text"
          class="form-control search-input"
          placeholder="Search by Email..."
          [(ngModel)]="searchQueryEmail"
          (input)="onSearch()"
        /></td>
        <td></td> <!-- Empty cell to align with columns -->
        <td></td> <!-- Empty cell to align with columns -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of filteredData">
        <th scope="row">{{row.id}}</th>
        <td>{{row.Name}}</td>
        <td>{{row.Email}}</td>
        <td>{{row.Age}}</td>
        <td>
          <a *ngIf="row.image_path" [href]="'http://localhost:3001/' + row.image_path" target="_blank">
            <img [src]="'http://localhost:3001/' + row.image_path" alt="row Image" style="max-width: 100px; height: auto;" />
          </a>
        </td>
        
        <td>
          <button class="btn btn-primary" routerLink="../edit-details/{{row.id}}" (click)="getuserbyID(row.id)">Edit</button>
          <button class="btn btn-danger" (click)="ondelete(row.id)">Delete</button>
        </td>
        
      </tr>
    </tbody>
  </table>
</div>
